<div style="height: 10px;">
  <mat-progress-bar *ngIf="(loadingCart$ | async) || (loadingProducts$ | async)" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card fxLayout="row" fxLayoutAlign="space-between center" style="margin: 20px">
  <div>
    Net Total: <b>LKR {{(netTotal$ | async | number:'1.2-2')}}</b>
  </div>
  <div style="margin-right: 20px; margin-top: 10px;">
  <mat-icon [matBadge]="(lineItems$ | async).length" matBadgeColor="warn">shopping_cart</mat-icon>
  </div>
</mat-card>

<div
  style="margin: 0 20px"
  fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="50px">
  <app-product-list fxFlex="33.3"></app-product-list>
  <app-shopping-cart fxFlex="33.3"></app-shopping-cart>
  <app-shopping-summary fxFlex="33.3"></app-shopping-summary>
</div>
