.input-text {

}

.control-btn {
  background-color: #fff;
  border: 1px solid #a3a3a3;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 0;
  color: #a2a2a2;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
}

.spinner-label {

}

.manual-input {

}

.manual-input-btn {

}
